/* Coolors Exported Palette - https://coolors.co/200025-fce762-fffded-ffb17a-4f4789 */

/* HSL */
$color1: hsla(292%, 100%, 15%, 1);
$color2: hsla(52%, 61%, 99%, 1);
$color3: hsla(53%, 7%, 100%, 1);
$color4: hsla(25%, 52%, 100%, 1);
$color5: hsla(247%, 48%, 54%, 1);

/* RGB */
$color1: rgba(32, 0, 37, 1);
$color2: rgba(252, 231, 98, 1);
$color3: rgba(255, 253, 237, 1);
$color4: rgba(255, 177, 122, 1);
$color5: rgba(79, 71, 137, 1);

/* HEX */
$color1: #200025ff;
$color2: #fce762ff;
$color3: #fffdedff;
$color4: #ffb17aff;
$color5: #4f4789ff;

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #200025ff, #fce762ff, #fffdedff, #ffb17aff, #4f4789ff);
$gradient-right: linear-gradient(90deg, #200025ff, #fce762ff, #fffdedff, #ffb17aff, #4f4789ff);
$gradient-bottom: linear-gradient(180deg, #200025ff, #fce762ff, #fffdedff, #ffb17aff, #4f4789ff);
$gradient-left: linear-gradient(270deg, #200025ff, #fce762ff, #fffdedff, #ffb17aff, #4f4789ff);
$gradient-top-right: linear-gradient(45deg, #200025ff, #fce762ff, #fffdedff, #ffb17aff, #4f4789ff);
$gradient-bottom-right: linear-gradient(135deg, #200025ff, #fce762ff, #fffdedff, #ffb17aff, #4f4789ff);
$gradient-top-left: linear-gradient(225deg, #200025ff, #fce762ff, #fffdedff, #ffb17aff, #4f4789ff);
$gradient-bottom-left: linear-gradient(315deg, #200025ff, #fce762ff, #fffdedff, #ffb17aff, #4f4789ff);
$gradient-radial: radial-gradient(#200025ff, #fce762ff, #fffdedff, #ffb17aff, #4f4789ff);