*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #35353F;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

p {
  margin: 5px;
}

a {
  color: #FC5E2F;
}

.data-viz {
  hgroup {
    color: #fff;
    padding: 2rem;
    display: grid;
    grid-template-columns: 55% 40%;
    grid-column-gap: 5vw;
    align-items: start;
  }

  .map {
    display: grid;
    grid-template-columns: 15% 85%;
    
    &__chart {
      height: 75vh;
      width: 100%;
    }

    &__legend {
      width: 100%;
      color: #fff;
      padding-left: 1rem;
    }
  }
  
}