/* resets */
body,
html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 1em;
  color: #444;
}

ul,
li {
  padding: 0;
  list-style: none;
}

a {
  color: #f76c6c;
  text-decoration: none;
}

h1,
h2,
h4 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 5em;
  color: #444;
  line-height: 1.2;
  margin: .5em 0;
}

h2 {
  font-size: 3em;
  margin: 1em 0;
}

h3 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.1em;
  margin: .2em 0;
}

button {
  font-size: 1em;
  text-transform: uppercase;
  padding: 1em 2em;
  font-weight: 800;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

button:focus,
button:active,
button:visited {
  outline: none;
}

img {
  max-width: 100%;
}

input,
textarea {
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
}

input[type=text],
input[type=email],
textarea {
  border-bottom: 2px solid white;
  font-size: 1em;
  color: white;
}

input[type=text],
input[type=email] {
  flex-basis: 45%;
  line-height: 2;
}

input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: white;
}

textarea {
  width: 100%;
  min-height: 7em;
  margin: 3em 0;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  display: block;
  overflow: hidden;
}

.grid {
  display: grid;
  background: white;
  grid-column-gap: 1.25em;
  grid-row-gap: 1.25em;
  padding: 2em;
}

/* common styles */
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bigger-p {
  font-size: 1.2em;
}

/* line in details */
.info {
  position: relative;
  display: none;
}

.line-crumb:after {
  content: "";
  background-color: #f76c6c;
  padding: .07em 4em;
  position: absolute;
  top: .6em;
  margin-left: .8em;
}

.line-crumb {
  display: none;
}

/* about section */
.about__col1 {
  grid-area: first;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.about__row2 {
  grid-area: last;
}

.about__buttons {
  margin: 2em 0;
}

.about button:first-child {
  margin-right: 1em;
  background: #f76c6c;
  color: white;
  border: none;
}

.about button:first-child a {
  color: white;
}

.about button:last-child {
  border: 2px solid #f76c6c;
  color: #f76c6c;
  background: white;
}

.about .details {
  justify-content: start;
}

.about .details>span,
.about .details>a {
  transform: translateY(100%);
  opacity: 0;
}

.about .details > span:first-of-type {
  animation-delay: .5s;
  display: none;
}

.about .details > span:nth-of-type(2) {
  animation-delay: 1s;
  display: none;
}

.about .details > span:nth-of-type(3) {
  animation-delay: 1.5s;
  display: inline-block;
  margin-right: 2em;
}

.about .details > span:nth-of-type(4) {
  animation-delay: 2s;
  display: inline-block;
}

.about .details > a {
  animation-delay: 2.5s;
  display: none;
}

.about {
  border-bottom: 2px solid #f76c6c;
  grid-template-columns: 100%;
  grid-template-rows: [row1] 85% [row2] 8vh;
  grid-template-areas:
    "first ."
    "last last"
}

/* services section */
.services__col1 {
  grid-area: first;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 2.5em 0 0;
}

.services__col2 {
  grid-area: second;
}

.services__row3 {
  grid-area: last;
}

.services h5 {
  color: #f76c6c;
  text-transform: uppercase;
}

.services li {
  opacity: 0;
}

.services li:first-of-type {
  animation-delay: 1s;
}

.services li:nth-of-type(2) {
  animation-delay: 1.7s;
}

.services li:nth-of-type(3) {
  animation-delay: 2.4s;
}

.services li:nth-of-type(4) {
  animation-delay: 3s;
}

.services .details {
  display: none;
}

.services {
  grid-template-columns: 100%;
  grid-template-rows: [row1] 30% [row2] 55% [row3] 12vh;
  grid-template-areas: "first""second""last";
  background: #24305e;
  color: white;
}

/* portfolio section */
.portfolio__row1 {
  grid-area: first;
  overflow: hidden;
}

.portfolio__col2 {
  grid-area: second;
}

.portfolio__col3 {
  grid-area: last;
  border-top: 2px solid #24305e;
}

.portfolio__col2,
.portfolio__col3 {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.portfolio h2 {
  color: #24305e;
}

.portfolio h3 {
  text-transform: uppercase;
  color: white;
  margin: 0;
}

.portfolio__two {
  padding-bottom: 2em;
}

.portfolio__one {
  border-top: 2px solid white;
}

.portfolio__two img {
  animation-delay: 1s;
}

.separation-line {
  background: transparent;
  height: 0;
}

.portfolio img {
  opacity: 0;
}

.portfolio {
  grid-template-rows: [row1] auto [row2] auto [row3] auto;
  grid-template-columns: 100%;
  grid-template-areas: "first""second""last";
  background: #a8d0e6;
  color: #24305e;
}

/* contact section */
.contact__col1 {
  grid-area: first;
}

.contact__col2 {
  grid-area: second;
}

.contact article> p:nth-of-type(2) {
  color: #f76c6c;
}

form p {
  display: flex;
}

.name-email {
  justify-content: space-between;
}

.contact button {
  background: none;
  border: 2px solid white;
  color: white;
  margin-top: 3em;
}

.contact {
  grid-template-columns: 100%;
  grid-template-rows: [row1] auto [row2] auto;
  grid-template-areas: "first""second";
  background: #374785;
  color: white;
  border-top: 2px solid white;
}

/* animations */
.opacity {
  animation: opacityAnimation 1.5s ease-in-out normal forwards;
}

@keyframes opacityAnimation {
  100% {
    opacity: 1;
  }
}

.line-animate {
  animation: lineAnimate 1s ease-in-out normal forwards
}

@keyframes lineAnimate {
  100% {
    height: 1em;
    background: #f76c6c;
  }
}

.background-to-pink {
  animation: bgrPink 1s ease-in-out .6s normal forwards
}

@keyframes bgrPink {
  100% {
    background: #f76c6c;
  }
}

.from-bottom {
  animation: fromBottomAnimation 2s ease 1s normal forwards,
    opacityAnimation 1s ease 1s normal forwards;
}

@keyframes fromBottomAnimation {
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* media queries */
@media (min-width: 600px) {
  .about .details {
    justify-content: space-between;
  }

  .about .details>span,
  .about .details>a {
    display: inherit;
  }

  .about .details>span:nth-of-type(3) {
    margin-right: 0;
  }
}

@media (min-width: 800px) {
  .grid {
    padding: 3em 5em 1em;
  }

  .about .details>span:first-of-type,
  .about .details>span:nth-of-type(2) {
    display: inherit;
  }

  .about__col1 {
    padding: 2.5em 0;
  }

  .about {
    grid-template-columns: [col1] 4fr [col2] 3fr;
  }

  .details {
    font-size: .8em;
  }

  .services .details {
    display: flex;
  }

  .services {
    grid-template-columns: [col1] 3fr [col2] 4fr;
    grid-template-areas: "first . "". second""last last";
  }

  .portfolio {
    grid-template-columns: [col1] 4fr [col2] 4fr;
    grid-template-areas: "first first""second last";
  }

  .portfolio__col2,
  .portfolio__col3 {
    margin: 2em 0;
  }

  .contact {
    grid-template-rows: none;
    grid-template-columns: [col1] 3fr [col2] 4fr;
    column-gap: 3em;
    grid-template-areas: "first second";
    padding: 5em;
  }
}

/* @media (min-width: 1000px) {  
  .line-crumb {
    color: #f76c6c;
    font-weight: 800;
    display: inline-block;
  }
} */

@media (min-width: 1120px) {
  .info {
    display: block;
    flex-basis: 10em;
  }

  .line-crumb {
    color: #f76c6c;
    font-weight: 800;
    display: inline-block;
  }

  .about {
    grid-template-columns: [col1] 3fr [col2] 5fr;
  }

  .about__col1 {
    justify-content: end;
  }

  .details {
    font-size: .9em;
  }

  .services {
    grid-template-columns: [col1] 1.5fr [col2] 1fr [col3] 3fr;
    grid-template-areas: "first . ."". . second""last last last";
  }

  .portfolio__two {
    padding-bottom: 3em;
  }

  .contact {
    grid-template-columns: [col1] 1.5fr [col2] 1fr [col3] 3fr;
    grid-template-areas: "first . second";
    column-gap: 1.25em;
  }
}