/* resets */
body,
html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 1em;
  color: #444;
}

ul,
li {
  padding: 0;
  list-style: none;
}

a {
  color: #f76c6c;
  text-decoration: none;
}

h1,
h2,
h4 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 5em;
  color: #444;
  line-height: 1.2;
  margin: .5em 0;
}

h2 {
  font-size: 3em;
  margin: 1em 0;
}

h3 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.1em;
  margin: .2em 0;
}

button {
  font-size: 1em;
  text-transform: uppercase;
  padding: 1em 2em;
  font-weight: 800;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

button:focus,
button:active,
button:visited {
  outline: none;
}

img {
  max-width: 100%;
}

input,
textarea {
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
}

input[type=text],
input[type=email],
textarea {
  border-bottom: 2px solid white;
  font-size: 1em;
  color: white;
}

input[type=text],
input[type=email] {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  line-height: 2;
  margin: 1em 0;
}

input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: white;
}

textarea {
  width: 100%;
  min-height: 7em;
  margin: 3em 0;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  display: block;
  overflow: hidden;
}

.grid {
  display: -ms-grid;
  display: grid;
  background: white;
  grid-column-gap: 1.25em;
  grid-row-gap: 1.25em;
  padding: 2em;
}

/* common styles */
.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bigger-p {
  font-size: 1.2em;
}

/* line in details */
.info {
  position: relative;
  display: none;
}

.line-crumb:after {
  content: "";
  background-color: #f76c6c;
  padding: .07em 4em;
  position: absolute;
  top: .6em;
  margin-left: .8em;
}

.line-crumb {
  display: none;
}

/* about section */
.about__col1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.about__row2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: last;
}

.about__buttons {
  margin: 2em 0;
}

.about button:first-child {
  margin-right: .2em;
  background: #f76c6c;
  color: white;
  border: none;
}

.about button:first-child a {
  color: white;
}

.about button:last-child {
  border: 2px solid #f76c6c;
  color: #f76c6c;
  background: white;
}

.about .details {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.about .details>span,
.about .details>a {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}

.about .details>span:first-of-type {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  display: none;
}

.about .details>span:nth-of-type(2) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  display: none;
}

.about .details>span:nth-of-type(3) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  display: inline-block;
  margin-right: 2em;
}

.about .details>span:nth-of-type(4) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  display: inline-block;
}

.about .details>a {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  display: none;
}

.about {
  border-bottom: 2px solid #f76c6c;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: [row1] 85% [row2] 8vh;
  grid-template-rows: [row1] 85% [row2] 8vh;
  grid-template-areas:
    "first ."
    "last last"
}

/* services section */
.services__col1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  padding: 2.5em 0 0;
}

.services>.services__col1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.services__col2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: second;
}

.services__row3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: last;
}

.services>.services__row3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
}

.services h5 {
  color: #f76c6c;
  text-transform: uppercase;
}

.services li {
  opacity: 0;
}

.services li:first-of-type {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

.services li:nth-of-type(2) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.services li:nth-of-type(3) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.services li:nth-of-type(4) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.services .details {
  display: none;
}

.services {
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: [row1] 30% [row2] 55% [row3] 12vh;
  grid-template-rows: [row1] 30% [row2] 55% [row3] 12vh;
  grid-template-areas: "first""second""last";
  background: #24305e;
  color: white;
}

/* portfolio section */
.portfolio__row1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first;
  overflow: hidden;
}

.portfolio>.portfolio__row1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.portfolio__col2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: second;
}

.portfolio>.portfolio__col2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.portfolio__col3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: last;
  border-top: 2px solid #24305e;
}

.portfolio>.portfolio__col3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
}

.portfolio__col2,
.portfolio__col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.portfolio h2 {
  color: #24305e;
}

.portfolio h3 {
  text-transform: uppercase;
  color: white;
  margin: 0;
}

.portfolio__two {
  padding-bottom: 2em;
}

.portfolio__one {
  border-top: 2px solid white;
}

.portfolio__two img {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.separation-line {
  background: transparent;
  height: 0;
}

.portfolio img {
  opacity: 0;
}

.portfolio {
  -ms-grid-rows: [row1] auto [row2] auto [row3] auto;
  grid-template-rows: [row1] auto [row2] auto [row3] auto;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  grid-template-areas: "first""second""last";
  background: #a8d0e6;
  color: #24305e;
}

/* contact section */
.contact__col1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first;
}

.contact>.contact__col1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.contact__col2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: second;
}

.contact>.contact__col2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.contact article>p:nth-of-type(2) {
  color: #f76c6c;
}

form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name-email {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-direction: column;
}

.contact button {
  background: none;
  border: 2px solid white;
  color: white;
  margin-top: 3em;
}

.contact {
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  -ms-grid-rows: [row1] auto [row2] auto;
  grid-template-rows: [row1] auto [row2] auto;
  grid-template-areas: "first""second";
  background: #374785;
  color: white;
  border-top: 2px solid white;
}

/* animations */
.opacity {
  -webkit-animation: opacityAnimation 1.5s ease-in-out normal forwards;
  animation: opacityAnimation 1.5s ease-in-out normal forwards;
}

@-webkit-keyframes opacityAnimation {
  100% {
    opacity: 1;
  }
}

@keyframes opacityAnimation {
  100% {
    opacity: 1;
  }
}

.line-animate {
  -webkit-animation: lineAnimate 1s ease-in-out normal forwards;
  animation: lineAnimate 1s ease-in-out normal forwards
}

@-webkit-keyframes lineAnimate {
  100% {
    height: 1em;
    background: #f76c6c;
  }
}

@keyframes lineAnimate {
  100% {
    height: 1em;
    background: #f76c6c;
  }
}

.background-to-pink {
  -webkit-animation: bgrPink 1s ease-in-out .6s normal forwards;
  animation: bgrPink 1s ease-in-out .6s normal forwards
}

@-webkit-keyframes bgrPink {
  100% {
    background: #f76c6c;
  }
}

@keyframes bgrPink {
  100% {
    background: #f76c6c;
  }
}

.from-bottom {
  -webkit-animation: fromBottomAnimation 2s ease 1s normal forwards,
    opacityAnimation 1s ease 1s normal forwards;
  animation: fromBottomAnimation 2s ease 1s normal forwards,
    opacityAnimation 1s ease 1s normal forwards;
}

@-webkit-keyframes fromBottomAnimation {
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fromBottomAnimation {
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}

/* media queries */
@media (min-width: 600px) {
  .about .details {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .about .details>span,
  .about .details>a {
    display: inherit;
  }

  .about .details>span:nth-of-type(3) {
    margin-right: 0;
  }

  .about button:first-child {
    margin-right: 1em;
  }

  .contact .name-email {
    flex-direction: row;
  }

  input[type=text],
  input[type=email] {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
  }
}

@media (min-width: 800px) {
  .grid {
    padding: 3em 5em 1em;
  }

  .about .details>span:first-of-type,
  .about .details>span:nth-of-type(2) {
    display: inherit;
  }

  .about__col1 {
    padding: 2.5em 0;
  }

  .about {
    -ms-grid-columns: [col1] 4fr [col2] 3fr;
    grid-template-columns: [col1] 4fr [col2] 3fr;
  }

  .details {
    font-size: .8em;
  }

  .services .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .services {
    -ms-grid-columns: [col1] 3fr [col2] 4fr;
    grid-template-columns: [col1] 3fr [col2] 4fr;
    grid-template-areas: "first . "". second""last last";
  }

  .portfolio {
    -ms-grid-columns: [col1] 4fr [col2] 4fr;
    grid-template-columns: [col1] 4fr [col2] 4fr;
    grid-template-areas: "first first""second last";
  }

  .portfolio__col2,
  .portfolio__col3 {
    margin: 2em 0;
  }

  .contact {
    -ms-grid-rows: none;
    grid-template-rows: none;
    -ms-grid-columns: [col1] 3em 3fr 3em [col2] 3em 4fr;
    grid-template-columns: [col1] 3fr [col2] 4fr;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
    grid-template-areas: "first second";
    padding: 5em;
  }

  .services>.services__col1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .services__col2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .services>.services__row3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .portfolio>.portfolio__row1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .portfolio__col2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .portfolio>.portfolio__col2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .portfolio>.portfolio__col3 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  .contact>.contact__col1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .contact__col2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .contact>.contact__col2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}

@media (min-width: 1120px) {
  .info {
    display: block;
    -ms-flex-preferred-size: 10em;
    flex-basis: 10em;
  }

  .line-crumb {
    color: #f76c6c;
    font-weight: 800;
    display: inline-block;
  }

  .about {
    -ms-grid-columns: [col1] 3fr [col2] 5fr;
    grid-template-columns: [col1] 3fr [col2] 5fr;
  }

  .about__col1 {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }

  .details {
    font-size: .9em;
  }

  .services {
    -ms-grid-columns: [col1] 1.5fr [col2] 1fr [col3] 3fr;
    grid-template-columns: [col1] 1.5fr [col2] 1fr [col3] 3fr;
    grid-template-areas: "first . ."". . second""last last last";
  }

  .portfolio__two {
    padding-bottom: 3em;
  }

  .contact {
    -ms-grid-columns: [col1] 1.25em 1.5fr 1.25em [col2] 1.25em 1fr 1.25em [col3] 1.25em 3fr;
    grid-template-columns: [col1] 1.5fr [col2] 1fr [col3] 3fr;
    grid-template-areas: "first . second";
    -webkit-column-gap: 1.25em;
    -moz-column-gap: 1.25em;
    column-gap: 1.25em;
  }

  .services>.services__col1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .contact>.services__col1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .services__col2 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  .services>.services__row3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .portfolio__col2 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  .contact>.contact__col1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .contact__col2 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  .contact>.contact__col2 {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
}